<div class="row">
    <div class="col-6"> 
        <mat-card class="parent_card">
            <mat-card-header style=" padding-bottom: 5px;"><strong>VEHICLE INFORMATION</strong></mat-card-header>
            <mat-card-content style="margin: 5px;">
                <form [formGroup]="userData" (ngSubmit)="onSubmit()">                   
                    <mat-card style="margin-top: 10px;">
                        <mat-card-content>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Brand </label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='brand'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Model </label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='model'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Make </label>
                                    <input type='number' 
                                        class='form-control'
                                        formControlName='make'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Registration number</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='registration'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>RTO location</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='rto_location'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Billing address</label>
                                    <textarea type='text' 
                                        class='form-control'
                                        formControlName='billing_address'>
                                    </textarea>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Vehicle Life Years</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='vehicle_life_years'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Number Of Claims Made</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='no_of_claims_made'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Criminal Records</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='criminal_records'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Age Of the Owner</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='age_of_the_owner'
                                    >
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>             
                    <div class='row'>
                        <div class= 'col-md-9 offset-md-3'>
                            <button class = 'btn btn-danger' type="reset" (click)='goBack()' style=" background-color: rgb(242, 110, 110);">Cancel</button>
                            <button class = 'btn btn-primary' type="submit" style="background-color: rgb(82, 155, 244);">Submit</button>
                        </div>
                    </div>    
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    

