<div class="row">
    <div class="col-6"> 
        <mat-card class="parent_card">
            <mat-card-header style=" padding-bottom: 5px;"><strong>PROPOSAL FORM</strong></mat-card-header>
            <mat-card-content style="margin: 5px;">
                <form [formGroup]="proposalData" (ngSubmit)="onSubmit()">                   
                    <mat-card style="margin-top: 10px;">
                        <mat-card-content>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Name</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='name'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Age </label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='age'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Address</label>
                                    <textarea type='text' 
                                        class='form-control'
                                        formControlName='address'>
                                    </textarea>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Color of car </label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='color_of_car'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Usage</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='usage'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>RC Book Number</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='rc_book_number'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Engine Number</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='engine_number'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Chassis Number</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='chassis_number'
                                    >
                                </div>
                            </div>
                            <div class='row'>
                                <div class="form-group col-12">
                                    <label>Driver licence Number</label>
                                    <input type='text' 
                                        class='form-control'
                                        formControlName='driver_licence_number'
                                    >
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>             
                    <div class='row'>
                        <div class= 'col-md-9 offset-md-3'>
                            <button class = 'btn btn-danger' type="reset" (click)='goBack()' style=" background-color: rgb(242, 110, 110);">Cancel</button>
                            <button class = 'btn btn-primary' type="submit" style="background-color: rgb(82, 155, 244);">Submit</button>
                        </div>
                    </div>    
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    

